/* =========================================
    Error
   ========================================= */

@import "../../style/theme/breakpoints";
@import "../../style/theme/typography";
@import "../../style/utils/content";
@import "../../style/utils/links";
@import "../../style/utils/reset";
@import "../../style/utils/list";

.error {
  @include content-block;

  text-align: center;
}

.error__title {
  margin: 5vw 0 4vw;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: $t-display;
  font-size: 98px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.1em;

  @media all and (min-width: $b-tablet) {
    margin: 100px 0 95px;
  }
}

.error__subtitle {
  @extend .error__title;

  display: block;
  margin: 0;
  font-size: 28px;
}

.error__links {
  @include list--inline;

  margin: 5vw 0;
  padding-left: 0 !important; // overwriting content-block style

  li:not(:last-child):after {
    content: '•';
    margin: 0 1em;
    vertical-align: middle;
  }

  @media all and (min-width: $b-tablet) {
    margin: 3em 0;
  }
}

.error__back-button {
  @include reset;
  @include link;

  cursor: pointer;
}
