# editor stuff
/.idea

# build stuff
/node_modules/
/npm-debug.log
/webpack-assets.json
/build/

# db/cache stuff
/dump.rdb

# private stuff
/src/server/api/content/secrets.json
/src/server/api/forms/secrets.json
/src/app/assets/fonts/avenir/
/src/app/assets/fonts/filson-pro/
/src/app/assets/fonts/inconsolata/
