/* =========================================
    App
   ========================================= */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app__content {
  flex-grow: 1;
}

.app__footer {
  flex-grow: 0;
}
