/* =========================================
    Base
   ========================================= */

@import "../../theme/colors";
@import "../../theme/typography";

html {
  font-family: $t-body;
  font-weight: 400;
  font-style: normal;

  color: $c-body-copy;
  background-color: $c-body-bg;
}

body {
  overflow-y: scroll;
}

html, body, #root {
  height: 100%;
}
