/* =========================================
    Article
   ========================================= */

@import "../../../style/theme/breakpoints";
@import "../../../style/theme/typography";
@import "../../../style/utils/content";
@import "../../../style/utils/list";

.article {
  @include content-block;
}

.article__loader {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.article__meta {
  $gutter: 1.5em;
  @include list--no;

  display: flex;
  flex-wrap: wrap;

  margin: -0.75em 0 1.5em #{-$gutter}; // margin top negative to move closer to header
  padding-left: 0 !important; // override for content-block styles

  font-family: $t-code;
  font-size: 0.75em;
  color: lighten($c-body-copy, 50%);

  li {
    margin: 0 0 0 $gutter !important; // override for content-block styles
  }
}

.article__avatar {
  &:not(:first-child) {
    margin-left: 0.3em;
  }
}

.article__body {
  @media all and (min-width: $b-tablet) {
    > p:first-child {
      font-size: 1.3em;
      line-height: 1.4;
    }
  }
}
