/* =========================================
    Article
   ========================================= */

@import "../../../style/theme/breakpoints";
@import "../../../style/utils/content";

.article {
  @include content-block;
}

.article__loader {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.article__body {
  @media all and (min-width: $b-tablet) {
    > p:first-child {
      font-size: 1.3em;
      line-height: 1.4;
    }
  }
}
