/* =========================================
    About
   ========================================= */

@import "../../../style/theme/colors";
@import "../../../style/theme/typography";
@import "../../../style/utils/clearfix";

.about {
  @include clearfix;

  margin: 5em auto 0;
  padding: 0 20px;
  max-width: 36em;

  font-size: 22px;
  line-height: 1.5;

  p { margin: 0; }
  p + p { margin-top: 1em; }

  a {
    color: $c-brand;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.about__intro-figure {
  box-sizing: border-box;
  float: left;
  margin-top: -35px;
  margin-left: -140px;
  padding: 55px 55px 35px;
  width: 420px;
  height: auto;

  @supports (shape-outside:circle()) {
    border-radius: 100%;
    shape-outside: circle(210px at 70px 165px);
  }
}

.about__section-title {
  margin: 1.5em 0 0.75em;
}

.about__list {
  ul { margin-top: 0.5em; }

  li { margin: 0; }
  li + li { margin-top: 0.5em; }

  &--big {
    li + li { margin-top: 1em; }
  }
}

.about__list-title {
  margin: 0;
  font-size: 1.1em;
}
