/* =========================================
    About
   ========================================= */

@import "../../../style/theme/breakpoints";
@import "../../../style/utils/content";

.about {
  @include content-block;
}

.about__intro-figure {
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
  border-radius: 100%;
  width: 40vw;
  height: auto;

  @media all and (min-width: 390px) {
    float: left;
    border-radius: 0;
    margin-top: -5.2vw;
    margin-left: -21vw;
    padding: 8.5vw 8.5vw 5.5vw;
    width: 63vw;
    height: auto;

    @supports (shape-outside:circle()) {
      border-radius: 100%;
      shape-outside: circle(30vw at 12vw 25vw);
    }
  }

  @media all and (min-width: $b-tablet) {
    margin-top: -35px;
    margin-left: -140px;
    padding: 55px 55px 35px;
    width: 420px;
    height: auto;

    @supports (shape-outside:circle()) {
      shape-outside: circle(210px at 70px 165px);
    }
  }
}

.about__section-title {
  margin: 1.5em 0 0.75em;
}

.about__list {
  &--big {
    li + li { margin-top: 1em; }
  }
}

.about__list-title {
  margin: 0;
  font-size: 1.1em;
}
