/* =========================================
        Contact
   ========================================= */

// TODO: Make component out of the shared styles with About.scss

@import "../../../style/theme/colors";
@import "../../../style/utils/clearfix";

.contact {
  @include clearfix;

  margin: 5em auto;
  padding: 0 20px;
  max-width: 36em;

  font-size: 22px;
  line-height: 1.5;

  p { margin: 0; }
  p + p { margin-top: 1em; }

  a {
    color: $c-brand;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
