/* =========================================
    Colors
   ========================================= */

$c-brand: tomato;

$c-error: crimson;

$c-body-bg: white;
$c-body-copy: #444;

$c-pre-bg: #333;
$c-pre-copy: #eee;

$c-code-bg: #eee;
$c-code-copy: #333;
