/* =========================================
    Colors
   ========================================= */

$c-brand: tomato;

$c-error: crimson;

$c-body-bg: white;
$c-body-copy: #444;

$c-pre-bg: #fbfbfb;
$c-pre-copy: $c-body-copy;

$c-code-bg: darken($c-pre-bg, 2%);
$c-code-copy: $c-body-copy;
