/* =========================================
    Fonts
   ========================================= */

$t-logo: 'Filson Pro', 'Arial Black', sans-serif;

$t-display: $t-logo;

$t-body: Avenir, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
