/* =========================================
    Fonts
   ========================================= */

$t-logo-fallback: "Arial Black", sans-serif;
$t-logo: "Filson Pro";

$t-display-system: $t-logo-fallback;
$t-display: $t-logo;

$t-body-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$t-body: Avenir;

$t-code-fallback: Consolas, monaco, monospace;
$t-code: Inconsolata;
