/* =========================================
    Content Mixins
   ========================================= */

@import "../theme/typography";
@import "../theme/colors";
@import "../theme/breakpoints";
@import "./clearfix";
@import "./links";

@mixin content-block {
  @include clearfix;

  margin: 3vw auto;
  padding: 0 20px;
  max-width: 36em;

  font-size: 20px;
  line-height: 1.5;

  @media all and (min-width: $b-tablet) {
    margin: 5em auto;
    font-size: 22px;
  }

  pre, code {
    font-family: $t-code;
  }

  code {
    border: 1px solid darken($c-code-bg, 5%);
    border-radius: 3px;
    padding: 0.1em 0.4em 0.25em;
    font-size: 0.8em;
    color: $c-code-copy;
    background-color: $c-code-bg;
  }

  pre {
    overflow-x: auto;
    margin: 1.5em 0;
    padding: 2em 0;
    font-size: 0.8em;
    color: $c-pre-copy;
    background-color: $c-pre-bg;

    // TODO: rework this to not use box shadow.
    box-shadow: 13em 0 $c-pre-bg,
               -13em 0 $c-pre-bg,
                36em 0 $c-pre-bg,
               -36em 0 $c-pre-bg;

    code {
      // reset code inside pre
      border: none;
      padding: 0;
      font-size: 1em;
      color: inherit;
      background-color: transparent;
    }
  }

  p { margin: 0 }
  p + p { margin-top: 1em; }

  ul { padding-left: 1.1em; }
  ul ul { margin-top: 0.5em; }

  li { margin: 0; }
  li + li { margin-top: 0.5em; }

  a { @include link; }
}
