/* =========================================
    Input
   ========================================= */

@import "../../../style/theme/colors";

.input {
  $input-padding: 3em;

  box-sizing: border-box;
  position: relative;
  float: left;
  padding: 1em 0;
  width: 100%;

  @media all and (min-width: 650px) {
    &--half {
      width: calc(50% - #{$input-padding / 2});
      & + & {
        margin-left: $input-padding;
      }
    }
  }
}

.input__label {
  pointer-events: none;
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 1;
  transition: 0.2s ease-out;
  transform-origin: left top;
  will-change: transform;

  .no-js &,
  .input--focused &,
  .input:not(.input--empty) & {
    transform: scale(0.6) translateY(-100%);
  }
}

.input__field {
  // reset
  resize: vertical;
  outline: none;
  border: none;
  padding: 0;

  vertical-align: middle;
  border-bottom: 1px solid $c-brand;
  width: 100%;
  max-width: 100%;
  color: black;

  .input--invalid & {
    color: $c-brand;
    border-color: $c-error;
  }
}

.input__error {
  pointer-events: none;
  position: absolute;
  bottom: 0.2em;
  left: 0;
  z-index: 1;

  font-size: 0.6em;
  color: $c-brand;
}
