/* =========================================
    App Header
   ========================================= */

@import "../../../style/theme/colors";
@import "../../../style/theme/typography";

$mini-header: 425px;
$center-header: 670px;

.app-header {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 1400px;
  text-align: center;

  @media all and (min-width: $mini-header) {
    padding: 10px 20px;
  }

  @media all and (min-width: $center-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media all and (min-width: 1460px) {
    padding: 20px;
  }
}

.app-header__logo {
  margin: 10px 0 13px;

  @media all and (min-width: $center-header) {
    margin: 0;
  }
}

.app-header__logo-link {
  &, abbr[title] {
    border: none;
    font-size: 52px;
    text-decoration: none;

    @media all and (min-width: $mini-header) {
      font-size: 72px;
    }
  }
}

.app-header__nav-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.app-header__nav-item {
  display: inline-block;
}

.app-header__nav-link {
  display: block;
  padding: 0.5em 1em;
  font-family: $t-display;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-brand;

  transition: color 0.3s ease;

  &:hover {
    color: $c-body-copy;
  }

  @media all and (min-width: $mini-header) {
    font-size: 20px;
  }
}
