/* =========================================
    App Header
   ========================================= */

@import "../../../theme/colors";
@import "../../../theme/typography";

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}

.app-header__logo {
  margin: 0;
}

.app-header__logo-link {
  &, abbr[title] {
    border: none;
    font-size: 72px;
    text-decoration: none;
  }
}

.app-header__nav-item {
  display: inline-block;
}

.app-header__nav-link {
  display: block;
  padding: 10px 20px;
  font-family: $t-display;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-brand;

  transition: color 0.3s ease;

  &:hover {
    color: $c-body-copy;
  }
}
