/* =========================================
    Teaser
   ========================================= */

@import "../../../theme/colors";

.teaser {
  margin: 0 auto 30px;
  max-width: 760px;
}

.teaser__link {
  display: block;
  border-radius: 3px;
  padding: 20px 30px;

  color: inherit;
  text-decoration: none;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;

  &:hover {
    color: $c-body-bg;
    background-color: $c-brand;
    box-shadow: 2px 2px 6px rgba($c-brand, 0.4);
  }
}

.teaser__title {
  margin: 0 0 25px;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 800;
}

.teaser__excerpt {
  font-size: 24px;
}
