/* =========================================
    Entry
   ========================================= */

$header-bottom-margin: 95px;

.entry {}

.entry__header {}

.entry__title {
  margin: 100px 0 $header-bottom-margin;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Filson Pro', 'Arial Black', sans-serif;
  font-size: 98px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.1em;
}

.entry__subtitle {
  @extend .entry__title;

  margin: #{10px - $header-bottom-margin} 0 $header-bottom-margin;
  font-size: 28px;
}

.entry__content {
  margin: 0 auto;
  max-width: 34em;
  font-size: 24px;
  line-height: 1.58;
}
