/* =========================================
    Home
   ========================================= */

.home__hero {
  box-sizing: border-box;
  margin: 160px auto 220px;
  padding: 0 85px;
  max-width: 1370px;

  font-weight: 800;
  font-size: 56px;
  line-height: 1.2;

  @media all and (max-width: 1385px) {
    margin: 11.55234657039711vw auto 15.88447653429603vw;
    padding: 0 6.137184115523466vw;
    font-size: 4.043321299638989vw;
  }
}

.home__archive {
  margin: 150px 0;
}
