/* =========================================
    Home
   ========================================= */

.home__hero {
  box-sizing: border-box;
  margin: 160px auto 220px;
  padding: 0 85px;
  max-width: 1370px;

  font-weight: 800;
  font-size: 67px;
  line-height: 1.2;
}

.home__archive {
  margin: 150px 0;
}
