/* =========================================
    Logo
   ========================================= */

@import "../../theme/colors";
@import "../../theme/typography";

.logo {
  font-family: $t-logo;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-brand;

  transition: color 0.3s ease;

  a &:hover {
    color: $c-body-copy;
  }
}
