/* =========================================
    Logo
   ========================================= */

.logo {
  font-family: 'Filson Pro', 'Arial Black', sans-serif;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: tomato;

  transition: color 0.3s ease;

  a &:hover {
    color: #444;
  }
}
