/* =========================================
    Max
   ========================================= */

@import "../../theme/colors";
@import "../../theme/typography";

$logo-transition: color 0.3s ease;

.max {
  font-family: $t-logo;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-brand;

  transition: $logo-transition;

  a:hover & {
    color: $c-body-copy;
  }
}

.max__dot {
  font-family: $t-body;
  color: $c-body-copy;
  transition: $logo-transition;

  a:hover & {
    color: $c-brand;
  }
}
