/* =========================================
    AppFooter
   ========================================= */

.app-footer {
  box-sizing: border-box;
  margin: 60px auto;
  padding: 0 20px;
  max-width: 1400px;

  text-align: center;
}
